*
{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgb(216, 69, 69),rgb(230, 150, 150));
    width: 100%;
    height: 100vh;
}

h1{
    text-align: center;
    font-family: 'Segoe UI';
}

header
{
    text-align: center;
}

main
{
    text-align: center;
}

.banner /* Gestion de l'image titre */
{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 85%;
}

/* Gestion du formulaire */

form
{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    color: grey;
}

form > div
{
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

label
{
    height: 100%;
    width: 45%;
    line-height: 40px;
    text-align: left;
    border-right: 1px dotted grey;
}

select, input
{
    -webkit-appearance: none; /* Retirer la flèche de la liste déroulante */
    width: 50%; border: none;
    background-color: white;
    height: 100%;
}

.btn-search
{
    background: none;
    background-image: url("./../images/boutonTicketRecherchePetit.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 49px;

}
