body{
    background-image: linear-gradient(rgb(216, 69, 69),rgb(230, 150, 150));
    height: 100vh;
}

h1{
    text-align: center;
    font-family: 'Segoe UI';
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
label{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 30px;
    
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
input, select{
    border:none;
    width: 60%;
}