/* *************************************************** */
/* ************** GESTION choixFilm.php ************** */
/* *************************************************** */
#filmPoster
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#filmPoster > img
{
    width: 40%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}